.navbar {
  width: 78%;
  max-width: 1500px;
  height: 11.5rem;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: flex-end;
}

.content h1 {
  margin-right: 3.5em;
  font-size: 2.5em;
  font-family: "Pacifico";
  color: #0083cc;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.content a {
  margin-right: 1.6em;
  font-size: 1.5em;
  font-family: "Nunito";
  color: black;
  text-decoration: none;
}

.content a:last-child {
  margin-right: 0;
}

/* @media (max-width: 1000px) {
  .navbar {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .navbar {
    font-size: 10px;
  }
} */

@media (max-width: 475px) {
  .navbar {
    font-size: 8px;
  }
  
  .content h1 {
    margin-right: 2em;
  }

  .content a {
    margin-right: 1.2em;
  }
}